{% if links %}
{# define known service icons #}
{% set services = {
  'facebook': '<svg width="30px" height="20px" viewBox="0 0 30 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Facebook Logo Icon</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(14, 0)">
                      <path d="M11.1764706,3.75 L8.69281046,3.75 C8.32026144,3.75 7.45098039,4.34 7.45098039,5 L7.45098039,7.5 L11.1764706,7.5 L11.1764706,11.25 L7.45098039,11.25 L7.45098039,20 L3.7254902,20 L3.7254902,11.25 L0,11.25 L0,7.5 L3.7254902,7.5 L3.7254902,5 C3.7254902,2.2425 6.16071895,0 8.76980392,0 L11.1764706,0 L11.1764706,3.75 Z" id="icon_facebook"></path>
                    </g>
                  </g>
              </svg>',
  'twitter': '<svg width="25px" height="20px" viewBox="0 0 25 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Twitter Logo Icon</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g transform="translate(-1171.000000, -5686.000000)">
                        <g transform="translate(0.000000, 5586.000000)">
                            <g transform="translate(1138.000000, 100.000000)">
                                <path d="M57.3969981,2.36714604 C56.4986029,2.77012997 55.5346202,3.04083673 54.5218283,3.16388526 C55.5559743,2.53941398 56.3475993,1.55041144 56.7228204,0.370683688 C55.7542618,0.950549873 54.6819836,1.37045297 53.5425927,1.59655464 C52.6304699,0.612166423 51.3278731,0 49.8895255,0 C47.1226512,0 44.8820016,2.2625548 44.8820016,5.04960394 C44.8820016,5.44643544 44.926235,5.83096209 45.0116512,6.20010767 C40.8506627,5.98938706 37.1609885,3.98061986 34.6900203,0.924402061 C34.261414,1.67038376 34.0143172,2.53787587 34.0143172,3.46381604 C34.0143172,5.21571945 35.1704863,6.75997847 36.5142659,7.66592325 C35.6921351,7.63977544 34.5176626,7.41059755 34.5176626,7.03222333 L34.5176626,7.09836192 C34.5176626,9.5439514 35.971263,11.5834807 38.2607219,12.049527 C37.8397421,12.1633469 37.2631829,12.2264093 36.8055961,12.2264093 C36.4822349,12.2264093 36.1024379,12.1941091 35.7943295,12.1325848 C36.4319003,14.1398139 38.2469943,15.599477 40.4373093,15.6410059 C38.7244098,16.9930016 36.5478223,17.8005076 34.203453,17.8005076 C33.7977262,17.8005076 33.3919993,17.7758979 33,17.7312928 C35.216245,19.1617319 37.8427927,20 40.6706786,20 C49.881899,20 54.9138276,12.3063908 54.9138276,5.63408444 C54.9138276,5.4141352 54.9077264,5.19572406 54.8970494,4.97885103 C55.8778102,4.26824579 56.725871,3.37922018 57.3969981,2.36714604 Z" id="icon_twitter"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>',
  'linkedin': '<svg viewBox="0 0 36 36"><g fill-rule="evenodd"><circle cx="18" cy="18" r="18"/><path d="M11.515 8C9.995 8 9 8.864 9 10c0 1.111.964 2 2.456 2h.03c1.55 0 2.514-.889 2.514-2-.029-1.136-.965-2-2.485-2zM9 13h4v12H9zM23.097 13c-2.297 0-3.838 1.976-3.838 1.976v-1.7H15V25h4.259v-6.548c0-.35.027-.7.14-.95.308-.7 1.009-1.426 2.185-1.426 1.541 0 2.158 1.075 2.158 2.652V25H28v-6.723C28 14.676 25.899 13 23.097 13z" fill="#FFF" fill-rule="nonzero"/></g></svg>',
  'instagram': '<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Instagram Logo Icon</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g transform="translate(-1215.000000, -5686.000000)">
                          <g transform="translate(0.000000, 5586.000000)">
                              <g transform="translate(1138.000000, 100.000000)">
                                  <path d="M79.5,0 L78.25,0 C77.55875,0 77,0.55875 77,1.25 L77,2.5 L77,10 L77,17.5 L77,18.75 C77,19.44125 77.55875,20 78.25,20 L79.5,20 L94.5,20 L95.75,20 C96.44125,20 97,19.44125 97,18.75 L97,17.5 L97,10 L97,2.5 L97,1.25 C97,0.55875 96.44125,0 95.75,0 L94.5,0 L79.5,0 Z M87,7.5 C88.38,7.5 89.5,8.62125 89.5,10 C89.5,11.37875 88.38,12.5 87,12.5 C85.62,12.5 84.5,11.37875 84.5,10 C84.5,8.62125 85.62,7.5 87,7.5 Z M94.5,17.5 L79.5,17.5 L79.5,10 L82,10 C82,12.7575 84.24375,15 87,15 C89.75625,15 92,12.7575 92,10 L94.5,10 L94.5,17.5 Z M94.5,6.25 L90.75,6.25 L90.75,2.5 L94.5,2.5 L94.5,6.25 Z" id="icon_instagram"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>',
  'youtube': '<svg viewBox="0 0 36 36"><g stroke="none" stroke-width="1" fill-rule="evenodd"><g transform="translate(-261.000000, -246.000000)"><g transform="translate(120.000000, 246.000000)"><g transform="translate(141.000000, 0.000000)"><circle cx="18" cy="18" r="18"></circle><path d="M16.0005783,21 L16,16 L21,18.5086197 L16.0005783,21 Z M26.82,14.8042387 C26.82,14.8042387 26.6439375,13.5306349 26.1045,12.9697872 C25.4199375,12.2333496 24.6526875,12.229884 24.301125,12.1871418 C21.78225,12 18.0039375,12 18.0039375,12 L17.9960625,12 C17.9960625,12 14.21775,12 11.698875,12.1871418 C11.34675,12.229884 10.5800625,12.2333496 9.8949375,12.9697872 C9.3555,13.5306349 9.18,14.8042387 9.18,14.8042387 C9.18,14.8042387 9,16.3002177 9,17.7956191 L9,19.1980273 C9,20.6940063 9.18,22.1894077 9.18,22.1894077 C9.18,22.1894077 9.3555,23.4630115 9.8949375,24.0238592 C10.5800625,24.7602968 11.4795,24.7371929 11.88,24.8140134 C13.32,24.9561025 18,25 18,25 C18,25 21.78225,24.994224 24.301125,24.8070822 C24.6526875,24.7637624 25.4199375,24.7602968 26.1045,24.0238592 C26.6439375,23.4630115 26.82,22.1894077 26.82,22.1894077 C26.82,22.1894077 27,20.6940063 27,19.1980273 L27,17.7956191 C27,16.3002177 26.82,14.8042387 26.82,14.8042387 L26.82,14.8042387 Z" fill="#FFFFFF"></path></g></g></g></g></svg>',
} %}
{% set follow_links = [] %}
{% set social_links = [] %}
{% for link in links %}
  {% set service = link.url|matchsocial %}
  {% if service in services|keys %}
    {% set social_links = social_links|merge([{
      url: link.url,
      title: link.title,
      svg: services[service],
    }]) %}
  {% else %}
    {% set follow_links = follow_links|merge([link]) %}
  {% endif %}
{% endfor %}

{% if follow_links %}
  <ul class="text-lg font-bold {# font-serif #}">
    {% for link in follow_links %}
      <li><a class="{# text-cyan hover:text-cyan-light #} underline" href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}

{% if social_links %}
  <div class="mt-4">
    {% include './links.twig' with {
      links: social_links,
    } %}
  </div>
{% endif %}
{% endif %}