{#
/**
 * Default theme implementation for Views to output a Letter Group Collection.
 *
 * Available variables:
 * - rows
 *
 * @see template_preprocess_views_view_gallery_collection()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'views-view-gallery-collection',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ rows }}
</div>
