<div class="container vertical-space relative flex lg:flex-row items-start">
  {% block sidebar %}
    <div class="hidden top-0 lg:block lg:sticky flex-1/3 {{ logged_in ? 'pt-admin' }}">
      {% block scroll_nav %}
        {% embed "../navigation/scroll-nav.twig" with { items: '', ticket_link: ticket_link } %}
          {% block share %}
            <div class="flex flex-row">
              <span>Share</span>
              {% include "../social-media/links.twig" with {
                links: [
                  {
                    url: '#',
                    title: 'Facebook',
                    svg: '<svg width="30px" height="20px" viewBox="0 0 30 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Facebook Logo Icon</title><g stroke="none" stroke-width="1" fill-rule="evenodd"><g transform="translate(14, 0)"><path d="M11.1764706,3.75 L8.69281046,3.75 C8.32026144,3.75 7.45098039,4.34 7.45098039,5 L7.45098039,7.5 L11.1764706,7.5 L11.1764706,11.25 L7.45098039,11.25 L7.45098039,20 L3.7254902,20 L3.7254902,11.25 L0,11.25 L0,7.5 L3.7254902,7.5 L3.7254902,5 C3.7254902,2.2425 6.16071895,0 8.76980392,0 L11.1764706,0 L11.1764706,3.75 Z" id="icon_facebook"></path></g></g></svg>'
                  },
                  {
                    url: '#',
                    title: 'Twitter',
                    svg: '<svg width="25px" height="20px" viewBox="0 0 25 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Twitter Logo Icon</title><g stroke="none" stroke-width="1" fill-rule="evenodd"><g transform="translate(-1171.000000, -5686.000000)"><g transform="translate(0.000000, 5586.000000)"><g transform="translate(1138.000000, 100.000000)"><path d="M57.3969981,2.36714604 C56.4986029,2.77012997 55.5346202,3.04083673 54.5218283,3.16388526 C55.5559743,2.53941398 56.3475993,1.55041144 56.7228204,0.370683688 C55.7542618,0.950549873 54.6819836,1.37045297 53.5425927,1.59655464 C52.6304699,0.612166423 51.3278731,0 49.8895255,0 C47.1226512,0 44.8820016,2.2625548 44.8820016,5.04960394 C44.8820016,5.44643544 44.926235,5.83096209 45.0116512,6.20010767 C40.8506627,5.98938706 37.1609885,3.98061986 34.6900203,0.924402061 C34.261414,1.67038376 34.0143172,2.53787587 34.0143172,3.46381604 C34.0143172,5.21571945 35.1704863,6.75997847 36.5142659,7.66592325 C35.6921351,7.63977544 34.5176626,7.41059755 34.5176626,7.03222333 L34.5176626,7.09836192 C34.5176626,9.5439514 35.971263,11.5834807 38.2607219,12.049527 C37.8397421,12.1633469 37.2631829,12.2264093 36.8055961,12.2264093 C36.4822349,12.2264093 36.1024379,12.1941091 35.7943295,12.1325848 C36.4319003,14.1398139 38.2469943,15.599477 40.4373093,15.6410059 C38.7244098,16.9930016 36.5478223,17.8005076 34.203453,17.8005076 C33.7977262,17.8005076 33.3919993,17.7758979 33,17.7312928 C35.216245,19.1617319 37.8427927,20 40.6706786,20 C49.881899,20 54.9138276,12.3063908 54.9138276,5.63408444 C54.9138276,5.4141352 54.9077264,5.19572406 54.8970494,4.97885103 C55.8778102,4.26824579 56.725871,3.37922018 57.3969981,2.36714604 Z" id="icon_twitter"></path></g></g></g></g></svg>'
                  },
                  {
                    url: '#',
                    title: 'Instagram',
                    svg: '<svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Instagram Logo Icon</title><g stroke="none" stroke-width="1" fill-rule="evenodd"><g transform="translate(-1215.000000, -5686.000000)"><g transform="translate(0.000000, 5586.000000)"><g transform="translate(1138.000000, 100.000000)"><path d="M79.5,0 L78.25,0 C77.55875,0 77,0.55875 77,1.25 L77,2.5 L77,10 L77,17.5 L77,18.75 C77,19.44125 77.55875,20 78.25,20 L79.5,20 L94.5,20 L95.75,20 C96.44125,20 97,19.44125 97,18.75 L97,17.5 L97,10 L97,2.5 L97,1.25 C97,0.55875 96.44125,0 95.75,0 L94.5,0 L79.5,0 Z M87,7.5 C88.38,7.5 89.5,8.62125 89.5,10 C89.5,11.37875 88.38,12.5 87,12.5 C85.62,12.5 84.5,11.37875 84.5,10 C84.5,8.62125 85.62,7.5 87,7.5 Z M94.5,17.5 L79.5,17.5 L79.5,10 L82,10 C82,12.7575 84.24375,15 87,15 C89.75625,15 92,12.7575 92,10 L94.5,10 L94.5,17.5 Z M94.5,6.25 L90.75,6.25 L90.75,2.5 L94.5,2.5 L94.5,6.25 Z" id="icon_instagram"></path></g></g></g></g></svg>'
                  }
                ]
              } %}
            </div>
          {% endblock %}
        {% endembed %}
      {% endblock %}
    </div>
  {% endblock %}
  {% block main %}
    <div class="prose flex-2/3">
      <h2>The First Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam unde, quas, ducimus, nihil tempore magnam iure officiis est iusto autem. Laborum earum quia perferendis commodi veritatis! Dignissimos, quos libero!</p>
      <p>Molestiae neque iusto, dignissimos eum nihil laborum rem accusamus eaque commodi debitis eligendi dicta blanditiis voluptatem, quia nostrum odit! A accusamus amet impedit deleniti odit, vero praesentium explicabo. Minima, eveniet.</p>
      <p>Est magni doloribus quo, architecto nesciunt alias sint. Optio obcaecati delectus quod eum aspernatur tempora, rerum itaque. Veniam doloremque tempora, qui amet, dignissimos dolorum praesentium iusto architecto iste accusamus provident.</p>
      <p>Labore est possimus blanditiis molestiae veritatis id, quo eligendi, dolor rem quasi cum doloribus omnis sit. Ad, esse ipsam, assumenda temporibus sequi rerum quas at repellendus tempore sunt molestiae dolores?</p>
      <p>Maxime id quae nobis, omnis corrupti eveniet quidem at unde quasi, et beatae qui nam inventore sed suscipit labore placeat possimus sequi, deleniti ducimus ut est ad quis! Tempore, adipisci.</p>
      <p>Sint reiciendis labore veniam eaque cupiditate earum blanditiis odio fugit, nobis tempore totam, dolores doloremque? Iusto at culpa voluptates quasi. Earum recusandae praesentium obcaecati dignissimos error commodi facilis esse doloribus!</p>
      <h2>The Second Heading</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos mollitia cumque corporis doloremque itaque cupiditate illo dignissimos nisi suscipit explicabo animi delectus, quisquam necessitatibus aliquid officia voluptate modi magni voluptas!</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus saepe officiis tempora? Eum illum odio dolorem impedit sed. Possimus totam in harum ratione quod, dolorem asperiores aperiam dolorum eum suscipit.
      Voluptates in quaerat fuga assumenda dignissimos ut iste ab quidem laudantium sapiente illum blanditiis dolorum, dolorem a eaque consectetur laborum, recusandae iusto suscipit, distinctio nulla itaque accusamus. Labore, laborum quidem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eligendi ratione consequatur, rem cupiditate, debitis porro mollitia, consequuntur deserunt beatae labore odio architecto. Ipsum in atque ab ratione, repellendus reprehenderit?
      Quidem hic aliquam accusamus pariatur, deserunt voluptatum, corrupti officiis aspernatur nobis omnis obcaecati! Esse, fugit ullam dolorem possimus nemo odio beatae amet nesciunt velit, necessitatibus est eaque doloremque quisquam quidem?
      Quia id dicta eaque nemo, nobis accusantium repellat consequuntur aperiam non alias perferendis, earum at deleniti vel ratione. Porro veniam eum illum explicabo atque tempore sed magni reprehenderit at expedita.
      Nulla adipisci mollitia vel voluptatum magnam eius ab, magni sunt illo itaque expedita voluptas eum libero minima tempora numquam quam consequuntur blanditiis, atque facere. Harum ab numquam quibusdam possimus veniam.</p>
      <h2>The Longest Title You May Not Want to Have in the Heading List Since It's Long</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, officia in. Iure illo ea delectus quod vero hic culpa laudantium qui dolores, quo nobis cum accusantium temporibus quia vitae consequatur.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates officia ducimus, praesentium eligendi deserunt error molestiae quam labore eius nisi aspernatur facere ipsum placeat dicta ab modi deleniti sunt excepturi!</p>
      <h2>A Short One</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur nisi illum natus culpa optio ea explicabo consequatur incidunt libero! Cumque doloribus sint blanditiis vel vitae animi, quam dignissimos ratione est!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, sint eius provident magnam dolor animi debitis sequi qui veniam ut laboriosam nobis delectus modi. Sunt, culpa soluta? Similique, nisi qui!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure est, dolor accusamus eveniet ea libero aperiam sapiente quibusdam sunt dignissimos! Eveniet saepe voluptatibus repudiandae assumenda. Numquam quia expedita necessitatibus ipsum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates officiis impedit temporibus possimus, assumenda velit, dolorem cupiditate deserunt harum saepe veritatis molestiae laboriosam eos ipsam repellat excepturi cumque obcaecati! Repellat!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis vero exercitationem libero ipsam unde sed quasi non est ipsa tenetur nam, voluptatem ratione nostrum nobis voluptates velit, aspernatur corrupti voluptatibus!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus facilis non dicta, culpa architecto et, consequuntur assumenda quis consequatur optio inventore error enim repellat officiis animi pariatur laborum eveniet ex!</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo impedit mollitia a non praesentium, aperiam, earum totam voluptatibus ducimus iure sequi quibusdam culpa nam consequatur temporibus accusantium odit atque consequuntur!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fuga, aut modi ducimus quas consequuntur praesentium, voluptas libero nobis neque dolor animi sunt itaque, cumque optio id quam. Architecto, consequatur!</p>
      <h2>Something at the End</h2>
      <p>This is the end of the document.</p>
    </div>
  </div>
  {% endblock %}
